{% extends "index.html" %}
{% block body %}

<table align="center" padding=0>
  <tr>
    <td width="33%" valign="top"><img src="static/pic/shiwang.jpg" style="width:70%;"></td>
    <td width="66%" style="text-align:left">

    <li> Shi Wang （王石） </li>
    <li> Data Scientist at Uber, Seattle </li>
    <li> Master's degree in Transportation Engineering in MIT, 2016 </li>
    <li> Bachelor's degree in Civil Engineering in Tsinghua University, 2014 </li>
    <br />
    <li> <a href = "mailto: shiwang0211@gmail.com">shiwang0211@gmail.com</a></li>
    </td>
    <!-- <td width="33%" valign="top"><img src="static/pic/xi.jpg"  style="width:100%"></td> -->
  </tr>
</table>

{% endblock %}
